.sequenceblock {
    position: relative;
    font-family: monospace;
}

.sequenceblock:before {
    content: attr(seq-index);
    position: absolute;
    top: -1.2em;
    right: 0;
    opacity: 0.5;
}

.selectable {
    cursor: pointer;
}

.unselectable {
    opacity: 0.5;
    pointer-events: none;
}

.selected {
    background-color: rgba(255, 171, 9, 0.5);
}